# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.lock
*.log

# Android
android/.gradle/
android/app/build/
android/local.properties
*.apk
*.aab
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/xcuserdata/

# Firebase
google-services.json
GoogleService-Info.plist

# OS
.DS_Store
Thumbs.db
